{% extends 'layout.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

  <h1 class="text-center p-3">{{ _('Crear usuario') }}</h1>

  <nav class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">

    <button class="nav-link active" id="nav-cliente-tab" data-bs-toggle="tab" data-bs-target="#nav-cliente" type="button"
      role="tab" aria-controls="nav-cliente" aria-selected="false">
      <i class="bi bi-person me-2"></i>{{ _('Cliente') }}
    </button>

  {%if rol == "admin"%}
    <button class="nav-link" id="nav-tecnico-tab" data-bs-toggle="tab" data-bs-target="#nav-tecnico" type="button"
      role="tab" aria-controls="nav-tecnico" aria-selected="true">
      <i class="bi bi-journals me-2"></i>{{ _('Técnico') }}
    </button>

      <button class="nav-link" id="nav-administrador-tab" data-bs-toggle="tab" data-bs-target="#nav-administrador"
        type="button" role="tab" aria-controls="nav-administrador" aria-selected="true">
        <i class="bi bi-gear me-2"></i>{{ _('Administrador') }}
      </button>
    {% endif %}

  </nav>

  <div class="tab-content py-4" id="nav-tabContent">

    <section class="tab-pane fade show active" id="nav-cliente" role="tabpanel" aria-labelledby="nav-cliente-tab" tabindex="0">
      <form class="container js-form" style="max-width: 24rem" method="POST">
        <div class="form-wrapper">
          <div class="form-info-section" id="asoc-info">
            <h2>{{ _('Datos de la asociación') }}</h2>
            <div class="mb-3">
              <label for="entidad-nombre" class="form-label">{{ _('Nombre de la Entidad') }}</label>
              <input type="text" class="form-control" id="entidad-nombre" name="nombre_entidad" required />
            </div>
            <div class="mb-3">
              <label for="entidad-cif" class="form-label">{{ _('CIF') }}</label>
              <input type="text" class="form-control" id="entidad-cif" name="cif_entidad" required />
            </div>
            <div class="mb-3">
              <label for="entidad-persona" class="form-label">{{ _('Persona de referencia') }}</label>
              <input type="text" class="form-control" id="entidad-persona" name="persona_referencia" required />
            </div>
            <div class="mb-3">
              <label for="entidad-direccion" class="form-label">{{ _('Dirección') }}</label>
              <input type="text" class="form-control" id="entidad-direccion" name="direccion_entidad" required />
            </div>
            <div class="mb-3">
              <label for="entidad-telefono" class="form-label">{{ _('Teléfono') }}</label>
              <input type="text" class="form-control" id="entidad-telefono" name="telefono_entidad" required />
            </div>
            <div class="mb-3">
              <label for="entidad-mail" class="form-label">{{ _('Mail') }}</label>
              <input type="email" class="form-control" id="entidad-mail" name="mail_entidad" required />
            </div>
            <fieldset class="mb-3">
              <legend class="fs-6">{{ _('Colectivo de atención') }}</legend>
              {% for enfermedad in enfermedades %}
                {% if enfermedad.visible == 1 %}
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="enfermedades" value="{{ enfermedad.nombre }}" id="enf-{{enfermedad.nombre}}" />
                    <label class="form-check-label" for="enf-{{enfermedad.nombre}}">{{enfermedad.nombre}}</label>
                  </div>
                {% endif %}
              {% endfor %}
            </fieldset>
          </div>

          <div class="form-info-section" id="parent-info">
            <h2>{{ _('Datos de la persona Tutor/a - Madre/Padre') }}</h2>
            <div class="mb-3">
              <label for="tutor-nombre" class="form-label">{{ _('Nombre de la persona madre/padre o persona encargada') }}</label>
              <input type="text" class="form-control" id="tutor-nombre" name="nombre_tutor" required />
            </div>
            <div class="mb-3">
              <label for="tutor-dni" class="form-label">{{ _('DNI') }}</label>
              <input type="text" class="form-control" id="tutor-dni" name="dni_tutor" required />
            </div>
            <div class="mb-3">
              <label for="tutor-direccion" class="form-label">{{ _('Dirección') }}</label>
              <input type="text" class="form-control" id="tutor-direccion" name="direccion_tutor" required />
            </div>
            <div class="mb-3">
              <label for="tutor-telefono" class="form-label">{{ _('Teléfono') }}</label>
              <input type="text" class="form-control" id="tutor-telefono" name="telefono_tutor" required />
            </div>
            <div class="mb-3">
              <label for="tutor-mail" class="form-label">{{ _('Mail') }}</label>
              <input type="email" class="form-control" id="tutor-mail" name="mail_tutor" required />
            </div>
          </div>

          <div class="form-info-section" id="client-info">
            <h2>{{ _('Datos de la persona') }} <em>{{ _('Donante de voz') }}</em></h2>
            <div class="mb-3">
              <label for="cliente-nombre" class="form-label">{{ _('Nombre y Apellidos') }}</label>
              <input type="text" class="form-control" id="cliente-nombre" name="nombre_cliente" required />
            </div>
            <div class="mb-3">
              <label for="cliente-dni" class="form-label">{{ _('DNI') }}</label>
              <input type="text" class="form-control" id="cliente-dni" name="dni_cliente" required />
            </div>
            <div class="mb-3">
              <label for="cliente-fecha_nacimiento" class="form-label">{{ _('Fecha de nacimiento') }}</label>
              <input type="date" class="form-control" id="cliente-fecha_nacimiento" name="fnac_cliente" required />
            </div>
            <div class="mb-3">
              <label for="cliente-direccion" class="form-label">{{ _('Dirección') }}</label>
              <input type="text" class="form-control" id="cliente-direccion" name="direccion_cliente" required />
            </div>
            <div class="mb-3">
              <label for="cliente-localidad" class="form-label">{{ _('Localidad') }}</label>
              <input type="text" class="form-control" id="cliente-localidad" name="localidad_cliente" required />
            </div>
            <div class="mb-3">
              <label for="cliente-provincia" class="form-label">{{ _('Provincia') }}</label>
              <select class="form-select" id="cliente-provincia" name="provincia_cliente" required>
                <option value="Álava">{{ _('Álava') }}</option>
                <option value="Albacete">{{ _('Albacete') }}</option>
                <option value="Alicante">{{ _('Alicante') }}</option>
                <option value="Almería">{{ _('Almería') }}</option>
                <option value="Asturias">{{ _('Asturias') }}</option>
                <option value="Ávila">{{ _('Ávila') }}</option>
                <option value="Badajoz">{{ _('Badajoz') }}</option>
                <option value="Barcelona">{{ _('Barcelona') }}</option>
                <option value="Burgos">{{ _('Burgos') }}</option>
                <option value="Cáceres">{{ _('Cáceres') }}</option>
                <option value="Cádiz">{{ _('Cádiz') }}</option>
                <option value="Cantabria">{{ _('Cantabria') }}</option>
                <option value="Castellón">{{ _('Castellón') }}</option>
                <option value="Ciudad Real">{{ _('Ciudad Real') }}</option>
                <option value="Córdoba">{{ _('Córdoba') }}</option>
                <option value="Cuenca">{{ _('Cuenca') }}</option>
                <option value="Girona">{{ _('Girona') }}</option>
                <option value="Granada">{{ _('Granada') }}</option>
                <option value="Guadalajara">{{ _('Guadalajara') }}</option>
                <option value="Guipúzcoa">{{ _('Guipúzcoa') }}</option>
                <option value="Huelva">{{ _('Huelva') }}</option>
                <option value="Huesca">{{ _('Huesca') }}</option>
                <option value="Islas Baleares">{{ _('Islas Baleares') }}</option>
                <option value="Jaén">{{ _('Jaén') }}</option>
                <option value="La Coruña">{{ _('La Coruña') }}</option>
                <option value="La Rioja">{{ _('La Rioja') }}</option>
                <option value="Las Palmas">{{ _('Las Palmas') }}</option>
                <option value="León">{{ _('León') }}</option>
                <option value="Lleida">{{ _('Lleida') }}</option>
                <option value="Lugo">{{ _('Lugo') }}</option>
                <option value="Madrid">{{ _('Madrid') }}</option>
                <option value="Málaga">{{ _('Málaga') }}</option>
                <option value="Murcia">{{ _('Murcia') }}</option>
                <option value="Navarra">{{ _('Navarra') }}</option>
                <option value="Ourense">{{ _('Ourense') }}</option>
                <option value="Palencia">{{ _('Palencia') }}</option>
                <option value="Pontevedra">{{ _('Pontevedra') }}</option>
                <option value="Salamanca">{{ _('Salamanca') }}</option>
                <option value="Santa Cruz de Tenerife">{{ _('Santa Cruz de Tenerife') }}</option>
                <option value="Segovia">{{ _('Segovia') }}</option>
                <option value="Sevilla">{{ _('Sevilla') }}</option>
                <option value="Soria">{{ _('Soria') }}</option>
                <option value="Tarragona">{{ _('Tarragona') }}</option>
                <option value="Teruel">{{ _('Teruel') }}</option>
                <option value="Toledo">{{ _('Toledo') }}</option>
                <option value="Valencia">{{ _('Valencia') }}</option>
                <option value="Valladolid">{{ _('Valladolid') }}</option>
                <option value="Vizcaya">{{ _('Vizcaya') }}</option>
                <option value="Zamora">{{ _('Zamora') }}</option>
                <option value="Zaragoza">{{ _('Zaragoza') }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="cliente-sexo" class="form-label">{{ _('Sexo') }}</label>
              <select class="form-select" id="cliente-sexo" name="sexo_cliente" required>
                <option value="H">{{ _('Hombre') }}</option>
                <option value="M">{{ _('Mujer') }}</option>
                <option value="A">{{ _('Ambiguo') }}</option>
                <option value="T">{{ _('Trans') }}</option>
              </select>
            </div>

            <fieldset class="mb-3">
              <legend class="fs-6">{{ _('Tipo de trastornos del habla') }}</legend>
              {% for disfonia in disfonias %}
              {% if disfonia.visible == 1 %}
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="dis" value="{{disfonia.nombre}}" id="dis-{{disfonia.nombre}}" />
                    <label class="form-check-label" for="dis-{{disfonia.nombre}}">{{disfonia.nombre}}</label>
                  </div>
              {% endif %}
              {% endfor %}
            </fieldset>
            <div class="mb-3">
              <label for="cliente-grado" class="form-label">{{ _('Grado de afectación') }}</label>
              <select class="form-select" id="cliente-grado" name="afectacion_cliente" required>
                <option value="leve">{{ _('Leve') }}</option>
                <option value="moderado">{{ _('Moderado') }}</option>
                <option value="severo">{{ _('Severo') }}</option>
              </select>
            </div>
          </div>

          <div class="form-info-section" id="login-info">
            <h2>{{ _('Datos de inicio de sesión') }}</h2>
            <div class="mb-3">
              <label for="cliente-email" class="form-label">{{ _('Email') }}</label>
              <input type="email" class="form-control" id="cliente-email" name="mail_cliente" required />
            </div>
            <div class="mb-3">
              <label for="cliente-password" class="form-label">{{ _('Contraseña') }}</label>
              <input type="password" class="form-control js-password" id="cliente-password" name="pass1" required />
              <div class="invalid-feedback">{{ _('Introduce la contraseña.') }}</div>
            </div>
            <div class="mb-3">
              <label for="cliente-password-repeat" class="form-label">{{ _('Repetir contraseña') }}</label>
              <input type="password" class="form-control js-password-repeat" id="cliente-password-repeat" name="pass2" required />
              <div class="invalid-feedback">{{ _('Las contraseñas deben coincidir.') }}</div>
            </div>
            <div class="mb-3">
              <label for="cliente-observaciones" class="form-label">{{ _('Observaciones') }}</label>
              <textarea class="form-control" id="cliente-observaciones" name="observaciones_cliente"></textarea>
            </div>
            <div class="mb-3">
            </div>
          </div>
        </div>
        <button class="btn btn-primary w-100 shadow" type="submit" style="width: 100%;">
          <i class="bi bi-plus-square me-2"></i>{{ _('Crear cliente') }}
        </button>
      </form>
    </section>

      <section class="tab-pane fade" id="nav-tecnico" role="tabpanel" aria-labelledby="nav-tecnico-tab" tabindex="0">
        <form class="container js-form" style="max-width: 20rem" method="post">
          <div class="mb-3">
            <label for="tecnico-nombre" class="form-label">{{ _('Nombre') }}</label>
            <input type="text" class="form-control" id="tecnico-nombre" name="nombre_tecnico" required />
          </div>
          <div class="mb-3">
            <label for="tecnico-email" class="form-label">{{ _('Email') }}</label>
            <input type="email" class="form-control" id="tecnico-email" name="email_tecnico" required />
          </div>
          <div class="mb-3">
            <label for="tecnico-password" class="form-label">{{ _('Contraseña') }}</label>
            <input type="password" class="form-control js-password" id="tecnico-password" name="pass1" required />
            <div class="invalid-feedback">{{ _('Introduce la contraseña.') }}</div>
          </div>
          <div class="mb-3">
            <label for="tecnico-password-repeat" class="form-label">{{ _('Repetir contraseña') }}</label>
            <input type="password" class="form-control js-password-repeat" id="tecnico-password-repeat" name="pass2" required />
            <div class="invalid-feedback">{{ _('Las contraseñas deben coincidir.') }}</div>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary w-100 shadow" type="submit">
              <i class="bi bi-plus-square me-2"></i>{{ _('Crear técnico') }}
            </button>
          </div>
        </form>
      </section>

      <section class="tab-pane fade" id="nav-administrador" role="tabpanel"
        aria-labelledby="nav-administrador-tab" tabindex="0">
        <form class="container js-form" style="max-width: 20rem" method="post">
          <div class="mb-3">
            <label for="admin-nombre" class="form-label">{{ _('Nombre') }}</label>
            <input type="text" class="form-control" id="admin-nombre" name="nombre_admin" required />
          </div>
          <div class="mb-3">
            <label for="admin-email" class="form-label">{{ _('Email') }}</label>
            <input type="email" class="form-control" id="admin-email" name="email_admin" required />
          </div>
          <div class="mb-3">
            <label for="admin-password" class="form-label">{{ _('Contraseña') }}</label>
            <input type="password" class="form-control js-password" id="admin-password" name="pass1" required />
            <div class="invalid-feedback">{{ _('Introduce la contraseña.') }}</div>
          </div>
          <div class="mb-3">
            <label for="admin-password-repeat" class="form-label">{{ _('Repetir contraseña') }}</label>
            <input type="password" class="form-control js-password-repeat" id="admin-password-repeat" name="pass2" required />
            <div class="invalid-feedback">{{ _('Las contraseñas deben coincidir.') }}</div>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary w-100 shadow" type="submit">
              <i class="bi bi-plus-square me-2"></i>{{ _('Crear administrador') }}
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>

  <script src="{{ url_for('static', filename='js/users-create-validation.js') }}"></script>
{% endblock %}